body{
    font-family: roboto;
}

.nav-container{
    display:flex;
    background-color: #1F2937;
    list-style-type: none;

}

li{
 flex:initial;
 color:#E5E7EB;
}

.logo{
    color:#F9FAF8;
}