body{
    font-family: roboto;
}

.nav-container{
    display:flex;
    background-color: #1F2937;
    list-style-type: none;

}

.nav-container li{
 flex:initial;
 color:#E5E7EB;
 text-decoration: none;
}

.logo{
    color:#F9FAF8;
    margin-right: auto;
    text-decoration: none;
}